#dice-btn-container {
  margin-bottom: 25px;
  margin-top: -260px;
}

.other-players-turn {
  font-size: 28px;
  color: antiquewhite;
}

.start-game-button {
  width: 200px;
  background-color: darkred;
  font-family: Revue;
  color: antiquewhite;
  font-size: 30px;
  border-radius: 5px;
}

#no-games {
  font-size: 24px;
}

#final-scores {
  font-size: 24px;
}

.endGameScreenPlayerName {
  font-size: 30px;
  font-weight: bold;
}

#end-game-text{
  font-size: 24px;
}
