/* @font-face {
  font-family: Revue;
  src: url("./fonts/Revue\ Regular.ttf");
} */

/* @import url(https://db.onlinewebfonts.com/c/41ed59a29024f1d258b293b9043e8f81?family=Revue); */
.landing-logo1 {
  font-family: Revue;
  font-size: 85px;
  color: white;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  margin-top: 4px;
}

.landing-link {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.landing p {
  font-size: 28px;
}

#landing-logo-img img {
  max-height: 300px;
  min-height: 300px;
}

.landing {
  /* background-color: yellow; */
  background: radial-gradient(yellow 1%, orange 10%, red 90%, darkred 100%);
  min-height: 100vh;
  /* margin-top: -58px; */
}
