@import url(//db.onlinewebfonts.com/c/41ed59a29024f1d258b293b9043e8f81?family=Revue);
.div-wrapper {
  display: grid;
  place-items: center;
}

.login-container {
  /* position: absolute;
  left: 50%;
  top: 50%; */
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 15px;
  min-width: 500px;
  max-width: 500px;
  min-height: 250px;
  max-height: 250px;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.login-logo h1 {
  font-family: Revue;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 40px;
  color: white;
}

.login-username {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  width: 400px;
  justify-content: center;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
}

.login-username:hover {
  background-color: #f8f8f8;
}

.login-pass:hover {
  background-color: #f8f8f8;
}

.login-pass {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  width: 400px;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

#user-icon {
  flex: 20%;
  margin-top: 12px;
  margin-right: 5px;
}

#pass-icon {
  flex: 20%;
  margin-top: 12px;
  margin-right: 2px;
  margin-right: 5px;
}

#username:hover {
  background-color: #f8f8f8;
}

#password:hover {
  background-color: #f8f8f8;
}

.login-username input {
  flex: 80%;
  margin-top: 5px;
  height: 36px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: white;
}

.login-pass input {
  flex: 80%;
  margin-top: 5px;
  height: 36px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: white;
}

#login-btn-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#login-btn-container button {
  flex: 40%;
  background-color: darkred;
  border-radius: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

#login-btn-container p {
  flex: 40%;
  font-weight: 700;
  margin-top: 25px;
  font-size: 18px;
  color: white;
  margin-left: 30px;
}

#login-link {
  font-weight: bold;
  color: antiquewhite;
}
