.score-card {
  min-width: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 13px;
  max-width: 1050px;
  margin-bottom: 10px;
  background-color: antiquewhite;
}

.game-table {
  min-height: 120vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(yellow 1%, orange 10%, red 90%, darkred 100%);
  padding-right: 30px;
}

.upper-scores-category-title {
  border: 1px solid black;
  min-width: 120px;
  max-width: 120px;
  min-height: 50px;
  max-height: 50px;
  font-weight: bold;
  line-height: 0.8;
  background-color: white;
}

.upper-scores-table {
  min-width: 1000px;
  max-width: 1000px;
  border-collapse: collapse;
}

.spacer {
  min-width: 5px;
  max-width: 5px;
}

.big-spacer {
  min-width: 140px;
  max-width: 140px;
}

.upper-total-desc {
  border: 1px solid black;
  min-width: 200px;
  max-width: 200px;
  height: 50px;
  border-radius: 10px;
  font-weight: 600;
  background-color: white;
}

.upper-total-score {
  min-width: 80px;
  max-width: 80px;
  border-bottom: 2px solid black;
  cursor: pointer;
  background-color: white;
}

.upper-totals-table-header {
  margin-bottom: 10px;
}

.lower-scores-table {
  border-collapse: collapse;
}

.bonus-yahtzee-checkbox {
  border: 1px solid black;
  max-width: 30px;
  min-width: 30px;
  margin-left: 50px;
  padding-top: 2px;
}

.bonus-yahtzee-row {
  margin-left: 50px;
}

.bonus-spacer {
  min-width: 140px;
}

.bonus-checkbox {
  width: 20px;
  height: 20px;
}

.dice-icon {
  font-size: 32px;
  font-weight: 100;
}

.dice-icon-yahtzee {
  font-size: 28px;
  font-weight: 100;
}

.chance-row {
  border-collapse: collapse;
  max-height: 50px;
  min-height: 50px;
  display: flex;
  width: 1000px;
  margin-right: 17px;
}

.yahtzee-bonus-table {
  min-width: 1005px;
  max-width: 1005px;
}

.chance-row-right-side {
  flex: 50%;
  margin-left: 75px;
  display: flex;
  flex-direction: row;
}

.chance-row-left-side {
  flex: 50%;
  display: flex;
  flex-direction: row;
  margin-top: -30px;
  margin-left: 1px;
}

.yahtzee-bonus-header {
  padding-left: 580px;
}

.yahtzee-bonus-desc {
  font-size: 14px;
  padding-right: 5px;
  padding-top: 8px;
}

#chance {
  border-top: none;
  margin-left: 1px;
  margin-bottom: 1px;
}

.checkboxes {
  margin-top: 8px;
  margin-left: 40px;
}

.gold {
  background: linear-gradient(-95deg, #fff087, #eccf02, #fff087);
  background-size: 50% 100%;
  animation: linear-gradient 10s linear infinite;
}

@keyframes linear-gradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 400% 400%;
  }
}

/* 
////////////////////////////////////////////////////////////////

Mini version

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

.score-card-mini {
  min-width: 525px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 3px solid black;
  border-radius: 13px;
  max-width: 525px;
  margin-bottom: 1px;
  background-color: antiquewhite;
}

.upper-scores-category-title-mini {
  border: 1px solid black;
  min-width: 60px;
  max-width: 60px;
  min-height: 25px;
  max-height: 25px;
  font-weight: normal;
  line-height: 0.8;
  background-color: white;
}

.upper-scores-table-mini {
  min-width: 500px;
  max-width: 500px;
  border-collapse: collapse;
}

.spacer-mini {
  min-width: 3px;
  max-width: 3px;
}

.upper-total-desc-mini {
  border: 1px solid black;
  min-width: 70px;
  max-width: 70px;
  height: 25px;
  border-radius: 10px;
  font-weight: 600;
  background-color: white;
}

.upper-total-score-mini {
  min-width: 40px;
  max-width: 40px;
  border-bottom: 2px solid black;
  cursor: pointer;
  background-color: white;
}

.upper-totals-table-header-mini {
  margin-bottom: 5px;
}

.lower-scores-table-mini {
  border-collapse: collapse;
  /* margin-top: -10px; */
}

.bonus-yahtzee-checkbox-mini {
  border: 1px solid black;
  max-width: 15px;
  min-width: 15px;
  margin-left: 25px;
  padding-top: 1px;
}

.bonus-yahtzee-row-mini {
  margin-left: 25px;
}

.bonus-spacer-mini {
  min-width: 70px;
}

.bonus-checkbox-mini {
  width: 10px;
  height: 10px;
}

.dice-icon-mini {
  font-size: 20px;
  font-weight: 100;
}

.dice-icon-yahtzee-mini {
  font-size: 16px;
  font-weight: 100;
}

.chance-row-mini {
  border-collapse: collapse;
  max-height: 25px;
  min-height: 25px;
  display: flex;
  width: 500px;
  margin-right: 9px;
}

.yahtzee-bonus-table-mini {
  min-width: 500px;
  max-width: 500px;
}

.chance-row-right-side-mini {
  flex: 50%;
  margin-left: 37px;
  display: flex;
  flex-direction: row;
}

.chance-row-left-side-mini {
  flex: 50%;
  display: flex;
  flex-direction: row;
  margin-top: -25px;
  margin-left: -9px;
}

.yahtzee-bonus-header-mini {
  padding-left: 290px;
}

.yahtzee-bonus-desc-mini {
  font-size: 10px;
  padding-right: 2px;
  padding-top: 4px;
}

.checkboxes-mini {
  margin-top: 4px;
  margin-left: 20px;
}

.gold-overlay {
  display: flex;
  background-color: white;
  z-index: 999;
  min-height: 47px;
  align-items: center;
  justify-content: center;
}

.gold-overlay-mini {
  display: flex;
  background-color: white;
  z-index: 999;
  min-height: 23px;
  align-items: center;
  justify-content: center;
}

.opposingScoreCard {
  background-color: transparent;
}

#hideScoreCards {
  z-index: 2;
}

#buttonContainer {
  display: flex;
  flex-direction: column;
}

#scoreCardFlexBox {
  transition: 0.5s;
}

#scoreCardsContainer {
  position: fixed;
  right: 0;
  bottom: 0;
}

#buttonsAndCardFlexBox {
  display: flex;
  flex-direction: row;
  transition: width 0.5s;
}

#buttonsFlexBox {
  display: flex;
  justify-content: flex-end;
}

.yahtzee2big {
  display: flex;
  flex-direction: column;
}

.opponent-title {
  width: 80px;
  /* background-color: darkred; */
  color: antiquewhite;
  border-radius: 5px;
  font-size: 24px;
}

#hideScoreCards {
  border: none;
  background-color: transparent;
}

.opposing-player-indicator {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  color: antiquewhite;
}
