.score-line-score {
  min-width: 170px;
  max-width: 170px;
  border-bottom: 2px solid black;
  cursor: pointer;
  height: 50px;

  /* border-right: 1px solid black;
  border-top: 1px solid black; */
}

.score-line-description {
  border-bottom: 2px solid black;
  /* border-top: 1px solid black; */
  min-width: 200px;
  max-width: 200px;
  cursor: pointer;
  vertical-align: bottom;
  height: 50px;
}

