.score-card {
  min-width: 1050px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 13px;
  max-width: 1050px;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  /* background-color: antiquewhite; */
}

#game-table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.upper-scores-category-title {
  border: 1px solid black;
  min-width: 120px;
  max-width: 120px;
  min-height: 50px;
  max-height: 50px;
  font-weight: bold;
  line-height: 0.8;
}

#upper-scores-table {
  min-width: 1000px;
  max-width: 1000px;
  border-collapse: collapse;
}

td {
  min-height: 110px;
  max-height: 110px;
}

#spacer {
  min-width: 5px;
  max-width: 5px;
}

#big-spacer {
  min-width: 140px;
  max-width: 140px;
}

#upper-total-desc {
  border: 1px solid black;
  min-width: 200px;
  max-width: 200px;
  height: 50px;
  border-radius: 10px;
  font-weight: 600;
}

#upper-total-score {
  min-width: 80px;
  max-width: 80px;
  border-bottom: 2px solid black;
  cursor: pointer;
}

#upper-totals-table {
  margin-top: -20px;
}

#upper-totals-table-header {
  margin-bottom: 10px;
}

#lower-scores-table {
  border-collapse: collapse;
  margin-top: -20px;
}

#bonus-yahtzee-checkbox {
  border: 1px solid black;
  max-width: 30px;
  min-width: 30px;
  margin-left: 50px;
  padding-top: 2px;
}

#bonus-yahtzee-row {
  margin-left: 50px;
}

#bonus-spacer {
  min-width: 140px;
}

#bonus-checkbox {
  width: 20px;
  height: 20px;
}

#dice-icon {
  font-size: 32px;
  font-weight: 100;
}

#dice-icon-yahtzee {
  font-size: 28px;
  font-weight: 100;
}

#chance-row {
  border-collapse: collapse;
  max-height: 50px;
  min-height: 50px;
  display: flex;
  width: 1000px;
  margin-right: 17px;
}

#yahtzee-bonus-table {
  min-width: 1005px;
  max-width: 1005px;
}

#chance-row-right-side {
  /* display: inline-block; */
  /* justify-content: flex-end */
  flex: 50%;
  /* display: flex; */
  /* justify-content: space-between; */
  margin-left: 75px;
  display: flex;
  flex-direction: row;
}

#chance-row-left-side {
  flex: 50%;
  display: flex;
  flex-direction: row;
  margin-top: -30px;
  margin-left: -1px;
}

#yahtzee-bonus-header {
  padding-left: 580px;
}

#yahtzee-bonus-desc {
  font-size: 14px;
  padding-right: 5px;
  padding-top: 8px;
}

#chance {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
}

#checkboxes {
  margin-top: 8px;
  margin-left: 40px;
}
