.score-line-score {
  min-width: 170px;
  max-width: 170px;
  border-bottom: 2px solid black;
  cursor: pointer;
  height: 50px;
  background-color: white;
  /* border-right: 1px solid black;
  border-top: 1px solid black; */
}

/* .score-line-score:hover {
  background-color: #f8f8f8;
} */

.score-line-description {
  border-bottom: 2px solid black;
  /* border-top: 1px solid black; */
  min-width: 370px;
  max-width: 370px;
  /* cursor: pointer; */
  vertical-align: bottom;
  height: 50px;
  background-color: white;
}

/* .score-line-description:hover {
  background-color: #f8f8f8;
} */

.score-line-comp:hover {
  background-color: #f8f8f8;
}

.upper-scores-category-title {
  cursor: pointer;
}

#yahtzee-bonus-header {
  cursor: pointer;
}